<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="alwo-ompare.ZPM">
    <Module>
      <Name>alwo-ompare</Name>
      <Version>1.0.1</Version>
      <Description>Compare CPF Task Class Routine INC HL7 Lookup anything SQL across multiple systems</Description>
      <Keywords>compare code data configuration reporting</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>udl</SourcesRoot>
      <Resource Name="ompare.PKG"/>
      <SourcesRoot>udl</SourcesRoot>
    </Module>
  </Document>
</Export>